#container{
	position: relative;
	width: 1000px;
	height: 640px;
	margin: auto;
	box-shadow: 5px 5px 2px 2px #e5e5e5;
	border:1px solid #e5e5e5;
	border-radius: 4px;
}
#container header{
	margin:auto;
	width:100%;
	height:6%;
	background-color: #6593ef;
	color:white;
	font-family: calibri;
	text-align: center;
	font-size: 1.8em;
}
#input_part{
	margin: auto;
	width: 40%;
	height: 33%;
	float:left;
	background-color: #e5e5e5;
}
#input_part input{
	border-radius: 16px;
	font-size: 0.8em;
	width:32%;
	height:10%;
	border-radius: 1px;
	margin-left:5%;
	outline: none;
	margin-bottom: 1%;	
	border: 1px solid #e5e5e5;
}
#input_part label{
	margin-left: 5%;
	font-size: 0.8em;
}
#output_part{
	position: relative;
	top:0%;
	width: 60%;
	height: 92%;
	float:right;
}
table{
	width:95%;
	margin:auto;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
    text-align: left;
}
#legend{
	width:95%;
	height:30%;
	margin:auto;
}
#small_header{
	width:100%;
	height:10%;
	background-color: #127ab7;
	text-align: left;
}
#small_header button{
    height:100%;	
    outline: none;
    background-color: #127ab7;
	color: white;	
	font-size: 1.2em;
	font-family: calibri;
	cursor: pointer;
	border:0px;
	border-right:1px solid white;
}
#graph{
	position: relative;
	width: 99%;
	height: 100%;
	margin: auto;
}