#container{
	width: 700px;
	height: 400px;
	margin: auto;
	box-shadow: 5px 5px 2px 2px #e5e5e5;
	border:1px solid #e5e5e5;
	border-radius: 4px;
	background-color: #e5e5e5;
}
#container header{
	margin:auto;
	width:100%;
	height:8%;
	background-color: #6593ef;
	color:white;
	font-family: calibri;
	text-align: center;
	font-size: 1.8em;
}
#input_part{
	margin: auto;
	width: 50%;
	height: 92%;
	float:left;
}
#input_part input{
	width:50%;
	height:12%;
	border-radius: 1px;
	outline: none;
	margin-bottom: 1%;	
	border: 1px solid #e5e5e5;
}
#output_part{
	position: relative;
	top:-92%;
	width: 50%;
	height: 92%;
	float:right;
}
#submit{
	margin-top: 5%;
	margin-right: 2%;
	float: right;
	margin-bottom: 0%;
	height: 11%;
	width: 25%;
	border-radius: 4px;
	background-color: #ed624b;
	color: white;
	font-size: 1.5em;
	font-family: calibri;
	cursor: pointer;
}